name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  stable-build:
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]

    runs-on: ${{ matrix.os }}
    continue-on-error: false
    timeout-minutes: 10
    steps:
      - name: disable auto CRLF
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --global core.autocrlf false

      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1

      - name: install (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser; irm https://cli.moonbitlang.com/install/powershell.ps1 | iex
          "C:\Users\runneradmin\.moon\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: moon test (release)
        run: moon test src/socket/resolve_host_test.mbt --release
