name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  stable-build:
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]

    runs-on: ${{ matrix.os }}
    continue-on-error: false
    timeout-minutes: 10
    steps:
      - name: disable auto CRLF
        run: git config --global core.autocrlf false

      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1

      - name: install (Windows)
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser; irm https://cli.moonbitlang.com/install/powershell.ps1 | iex
          "C:\Users\runneradmin\.moon\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: load SSH key for testing (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: certutil -p test -user -importPFX My ./test_keys/cert.p12 NoRoot

      - name: moon version
        run: |
          moon version --all
          moonrun --version

      - name: moon test
        run: |
          for ($i = 0; $i -lt 25; $i++) {
            moon test
          }

  nightly-build:
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]

    runs-on: ${{ matrix.os }}
    continue-on-error: false
    timeout-minutes: 10
    steps:
      - name: disable auto CRLF
        run: git config --global core.autocrlf false

      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1

      - name: install (Windows)
        env:
          MOONBIT_INSTALL_VERSION: nightly
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser; irm https://cli.moonbitlang.com/install/powershell.ps1 | iex
          "C:\Users\runneradmin\.moon\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: load SSH key for testing (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: certutil -p test -user -importPFX My ./test_keys/cert.p12 NoRoot

      - name: moon test
        run: |
          for ($i = 0; $i -lt 25; $i++) {
            moon test
          }
