name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  js-build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: install
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash
          echo "$HOME/.moon/bin" >> $GITHUB_PATH

      - name: moon version
        run: |
          moon version --all
          moonrun --version

      - name: moon check
        run: |
          moon check --target js --deny-warn

      - name: moon test
        run: |
          for i in $(seq 1 20); do
            moon test --release --target js
            moon test --target js
          done
